The party your selected is:
<div id="correctAnswer" ng-repeat="ques in questiondetail.question">
    <p>{{ques.title}}</p>
    <div ng-repeat="content in ques.questionSet">
      <md-button style="width: 300px; background-color: rgb(30, 73, 224)" class="md-raised md-primary">{{content.question}}</md-button>

          <!-- các lựa chọn -->
          <div ng-repeat="answer in content.answerSet" layout="column" layout-align="center">
            <md-button class="md-raised">{{answer}}</md-button>
          </div>

          <!-- các đáp án -->
          <div ng-repeat="correct in content.corectAnswerSet" layout="row">
            <md-checkbox ng-click="addtest.updateCorrectAnswer(answer, ques.corectAnswerSet)"><md-button class="md-raised">{{correct}}</md-button></md-checkbox>
          </div>


          <md-input-container class="md-block" flex-gt-sm>
            <label>First name</label>
            <input style="width: 120px;" type="number" step="0.25" value="{{content.score}}">
          </md-input-container>
    </div>
</div>

<button ui-sref="manageQuestion">Back</button>
