<!-- <md-content layout="row" layout-align="center start" layout-fill layout-margin> -->
  <!-- <md-whiteframe layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2 loginFrame" layout-fill> -->

    <!-- <md-toolbar class="md-primary md-tall" layout="column" layout-align="end" layout-fill> -->

    <!-- </md-toolbar> -->

    <div layout="column" layout-fill layout-margin layout-padding>

      <div layout="row" layout-align="center center" class="md-toolbar-tools md-toolbar-tools-bottom">
        <strong class="title">
          Liên hệ với chúng tôi
        </strong>
      </div>

      <form name="registerForm" layout="column" layout-fill layout-padding layout-margin>

        <!-- Nhập địa chỉ mail của người gửi -->
        <md-input-container >
          <label>
            Nhập địa chỉ mail của bạn
          </label>
          <md-icon md-svg-icon="content:ic_mail_24px"></md-icon>
          <input type="text" ng-model="sendMail.mail.mailAddress" placeholder="Địa chỉ mail" aria-label="email" required/>
        </md-input-container>

        <!-- Nhập tiêu đề -->
        <md-input-container >
          <label>
            Nhập tiêu đề
          </label>
          <md-icon md-svg-icon="content:ic_create_24px"></md-icon>
          <input type="text" ng-model="sendMail.mail.title" placeholder="Tiêu đề" aria-label="password" required/>
        </md-input-container>

        <!-- Nhập nội dung -->
        <md-input-container >
          <label>
            Nhập nội dung mail
          </label>
          <md-icon md-svg-icon="content:ic_create_24px"></md-icon>
          <textarea ng-model="sendMail.mail.content" md-maxlength="500" rows="5" placeholder="Nội dung" md-select-on-focus></textarea>
        </md-input-container>

        <!-- Gửi mail -->
        <div layout="row" layout-align="center center">
          <md-button class="md-raised md-primary" style="background-color: #ff8a00; width: 50%; padding: 7px;" ng-click="sendMail.sendMail()" aria-label="login" ng-disabled="register.registerForm.$invalid()">
            <strong>
              GửI MAIL
            </strong>
          </md-button>
        </div>
      </form>

      <!-- <md-divider class="inset"></md-divider> -->


      <!-- <div layout="row" layout-fill layout-margin layout-padding layout-wrap>
        <md-button class="md-raised">
          <md-icon md-svg-icon="social:ic_google_24px" style="color: #DC4A38;"></md-icon>
          <span>
            Google</span>
        </md-button>
        <md-button class="md-raised">
          <md-icon md-svg-icon="social:ic_facebook_24px" style="color: #3F62B4;"></md-icon>
          <span>Facebook
          </span>
        </md-button>
        <md-button class="md-raised">
          <md-icon md-svg-icon="social:ic_twitter_24px" style="color: #27AAE2;"></md-icon>
          <span>Twitter
          </span>
        </md-button>
      </div> -->
    </div>

  <!-- </md-whiteframe> -->
<!-- </md-content> -->
