<md-content layout="column" id="profile" layout-padding layout-wrap>
  <div  ng-repeat="item in profileExam.exam">
    <div layout="column" layout-padding >
        <p>
          Mã kì thi: {{item._id}}
        </p>
        <p >
          Tên kì thi: {{item.examName}}
        </p>
      <div layout="row" layout-align-md="end" layout-align-lg="end">
        <md-button class="md-raised" href="/scored/{{item._id}}">Kết quả</md-button>
        <md-button class="md-raised" href="/detailExam/{{item._id}}">Chỉnh sửa</md-button>
      </div>
    </div>
    <md-divider></md-divider>
  </div>
</md-content>
