<md-content layout-padding layout-wrap>
  <div  ng-repeat="item in profileExam.exam">
    <div layout="row" layout-padding layout-align="space-between end" >
      <div layout="column" layout-align="space-bettween start">
        <p>
          Mã kì thi: {{item._id}}
        </p>
        <span flex="10"></span>
        <p>
          Tên kì thi: {{item.examName}}
        </p>
      </div>
      <div layout="row" layout-align="end">
        <md-button class="md-raised" href="/statistics/{{item._id}}">Xem tỷ lệ</md-button>
        <md-button class="md-raised" href="/scored/{{item._id}}">Kết quả</md-button>
        <md-button class="md-raised" href="/detailExam/{{item._id}}">Chỉnh sửa</md-button>
      </div>
    </div>
    <md-divider></md-divider>
  </div>
</md-content>
