<h1 class="md-display-2">Danh sách câu hỏi</h1>
<div style="width: 80%; margin-left: 10%;">
  <div layout-align="center" layout="column" ng-repeat="ques in managequestion.questions">
    <div layout="row" layout-align="center">
      <md-button style="width: 60%" ui-sref="questionDetail({ questionId: ques._id })" class="md-raised md-primary">
        <strong>{{ques.title}} - {{ques.date}}</strong>
      </md-button>
      <md-button style="background-color: rgb(240, 121, 11)" class="md-raised md-primary" href="/startQuiz" ng-click="managequestion.addQuestion(ques)"><strong>Chọn câu hỏi</strong></md-button>
      <md-button style="background-color: rgb(231, 19, 6); width: 50px;" ng-click="managequestion.remove(ques._id)">X</md-button>
    </div>
  </div>
</div>
