<div ng-cloak>
  <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Mức độ dễ">
          <md-content class="md-padding">
            <div layout="column" layout-align="center center">
              <h3>{{detailStatistics.exam.examName}}</h3>
            </div>
            <h1 class="md-display-2">MỨC ĐỘ DỄ</h1>
            <div ng-repeat="item in detailStatistics.info">
              <div ng-show="item.rate >= 0.6" layout="row" layout-padding layout-align="space-between end">
                <p ng-show="item.rate >= 0.6">
                  Câu {{$index+1}}: {{item.question}}
                </p>
                <p>
                  Tỷ lệ: {{item.rate}}&#37;
                </p>
              </div>
              <md-divider ng-show="item.rate >= 0.6" ng-if="!$last"></md-divider>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Mức độ trung bình">
          <md-content class="md-padding">
            <div layout="column" layout-align="center center">
              <h3>{{detailStatistics.exam.examName}}</h3>
            </div>
            <h1 class="md-display-2">MỨC ĐỘ TRUNG BÌNH</h1>
            <div ng-repeat="item in detailStatistics.info">
              <div ng-show="item.rate >= 0.3 && item.rate <0.6" layout="row" layout-padding layout-align="space-between center">
                <p>
                    Câu {{$index+1}}: {{item.question}}
                </p>
                <p>
                    Tỷ lệ: {{item.rate}}&#37;
                </p>
              </div>
              <md-divider ng-show="item.rate >= 0.3 && item.rate <0.6" ng-if="!$last"></md-divider>
            </div>
            </md-content>
        </md-tab>
        <md-tab label="Mức độ khó">
          <md-content class="md-padding">
            <div layout="column" layout-align="center center">
              <h3>{{detailStatistics.exam.examName}}</h3>
            </div>
            <h1 class="md-display-2">MỨC ĐỘ KHÓ</h1>
            <div ng-repeat="item in detailStatistics.info">
              <div ng-show="item.rate < 0.3" layout="row" layout-padding layout-align="space-between center">
                <p>
                    Câu {{$index+1}}: {{item.question}}
                </p>
                <p>
                    Tỷ lệ: {{item.rate}}&#37;
                </p>
              </div>
              <md-divider ng-show="item.rate < 0.3" ng-if="!$last"></md-divider>
          </div>
          </md-content>
        </md-tab>
      </md-tabs>
  </md-content>
</div>
