<table>

  <!-- Địa chỉ Email -->
  <tr>
    <td>
      <label for="">Email</label>
    </td>
    <td>
      <input type="email" name="some_name" ng-model="registerTeacher.user.mail" value="" ng-change="registerTeacher.checkMail()">
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <div style="color: rgb(228, 18, 25)">{{registerTeacher.errorMail}}</div>
    </td>
  </tr>

  <!-- Họ khách hàng -->
  <tr>
    <td>
      <label for="">Họ</label>
    </td>
    <td>
      <input type="text" name="some_name" ng-model="registerTeacher.user.lastName" value="">
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <div style="color: rgb(228, 18, 25)">{{registerTeacher.errorLastName}}</div>
    </td>
  </tr>

  <!-- Tên khách hàng -->
  <tr>
    <td>
      <label for="">Tên</label>
    </td>
    <td>
      <input type="text" name="some_name" ng-model="registerTeacher.user.firstName" value="">
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <div style="color: rgb(228, 18, 25)">{{registerTeacher.errorFirstName}}</div>
    </td>
  </tr>

  <!-- Giới Tính -->
  <tr>
    <td>
      <label for="">Giới tính</label>
    </td>
    <td>
      <input type="radio" name="some_name" ng-model="registerTeacher.user.gender" value="Nam">Nam
      <input type="radio" name="some_name" ng-model="registerTeacher.user.gender" value="Nữ">Nữ
    </td>
  </tr>

  <!-- Ngày sinh -->
  <tr>
    <td>
      <label for="">Ngày sinh</label>
    </td>
    <td>
      <input type="date" name="some_name" ng-model="registerTeacher.user.date" value="">
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <div style="color: rgb(228, 18, 25)">{{registerTeacher.errorDate}}</div>
    </td>
  </tr>

  <!-- Cơ sở giáo dục -->
  <tr>
    <td>
      <label for="">Cơ sở giáo dục đang theo học</label>
    </td>
    <td>
      <input type="text" name="some_name" ng-model="registerTeacher.user.school" value="">
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <div style="color: rgb(228, 18, 25)">{{registerTeacher.errorSchool}}</div>
    </td>
  </tr>

  <!-- Địa chỉ -->
  <tr>
    <td>
      <label for="">Địa chỉ</label>
    </td>
    <td>
      <input type="text" name="some_name" ng-model="registerTeacher.user.address" value="">
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <div style="color: rgb(228, 18, 25)">{{registerTeacher.errorAddress}}</div>
    </td>
  </tr>

  <!-- Số điện thoại -->
  <tr>
    <td>
      <label for="">Số điện thoại</label>
    </td>
    <td>
      <input type="tel" name="some_name" ng-model="registerTeacher.user.phone" value="">
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <div style="color: rgb(228, 18, 25)">{{registerTeacher.errorPhone}}</div>
    </td>
  </tr>

  <!-- Mật khẩu -->
  <tr>
    <td>
      <label for="">Mật Khẩu</label>
    </td>
    <td>
      <input type="password" name="some_name" ng-model="registerTeacher.user.password" value="" ng-change="registerTeacher.checkPassword()">
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <div style="color: rgb(228, 18, 25)">{{registerTeacher.errorPassword}}</div>
    </td>
  </tr>


  <!-- Nhập lại mật khẩu -->
  <tr>
    <td>
      <label for="">Mật Khẩu</label>
    </td>
    <td>
      <input type="password" ng-model="registerTeacher.user.retype" name="some_name" value="" ng-change="registerTeacher.checkRetypePassword()">
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <div style="color: rgb(228, 18, 25)">{{registerTeacher.errorRetype}}</div>
    </td>
  </tr>

  <!--Đăng ký-->
  <tr>
    <button ng-click="registerTeacher.register()">Đăng ký</button>
  </tr>
</table>
