<br>
<form name="joinexam.myForm">
  <div layout="row" layout-align="center center">

    <div class="startquiz-tab1" layout="column">

        <!-- Nhập tên kì thi -->
        <md-input-container class="md-block" flex-gt-sm style="width: 80%; margin-left: 10%; margin-top: 30%;">
                <label>Nhập mã kì thi</label>
                <input name="examCode" ng-model="joinexam.data.examCode" required>
                <p role="alert" class="error" ng-show="startquiz.myForm.examCode.$error.required" style="color: red;">
                    mã kì thi là bắt buộc
                </p>
        </md-input-container>

        <!-- Tạo câu hỏi -->
        <div layout="row" layout-align="center" style="margin-bottom: 30%;">
          <md-button class="md-raised md-primary" style="width: 80%;" ng-click="joinexam.joinExam()">Tạo câu hỏi</md-button>
        </div>

      </div>

  </div>
</form>
