<md-content id="joinGame" layout="row" layout-padding layout-wrap layout-margin layout-align="center center">
    <md-whiteframe class="md-whiteframe-z5"  flex  flex-md="60" flex-lg="60" flex-gt-lg="40" layout-align="center center">
      <md-input-container layout="column">
        <label>Vui lòng nhập mã để tham gia kì thi!</label>
        <input type="text" ng-model="zipcode">
      </md-input-container>
      <div layout layout-align="center center" >
         <md-button class="md-raised md-warn" ng-click="joinExam.loginExam(zipcode)" aria-label="joinExam">Vào Thi Đấu</md-button>
       </div>
    </md-whiteframe>
</md-content>
