<md-content layout="column">
  <div id="intro" layout="column" layout-align="center center">
      <img id="play" src="image/hoc-ma-choi.png"  alt="">
  </div>

  <!-- chuc nang -->
  <div id="picture" layout-xs="column" layout-md="row" layout-lg="row" layout-align-xs="center center" layout-align-md="space-around center" layout-align-lg="space-around center" layout-padding >

      <div id="create" layout="column" layout-align="center center" class="feature" >
          <img  src="image/img4.png" id="icon1" alt="">

          <span flex="5"></span>
        <md-button class="md-raised tool" aria-label="thamgia" href="/startQuiz">
          <strong >
            TẠO KÌ THI
          </strong>
        </md-button>
      </div>



      <div id="join" layout="column" layout-align="center center" class="feature">
          <img  src="image/img5.png" id="icon1" alt="">
        <span flex="5"></span>
        <md-button class="md-raised tool" aria-label="thamgia" href="/joinExam">
          <strong >
            THAM GIA NGAY
          </strong>
        </md-button>
      </div>

  </div>

  <md-divider style="width: 60%; margin-left:20%; margin-top:5%;"></md-divider>


  <!-- loi ich sinh vien -->
  <div layout="column" class="space">
    <div layout="row" layout-align="center center">
      <h1 >LỢI ÍCH SINH VIÊN</h1>
    </div>
    <div id="benifit" layout-xs="column" layout-md="row" layout-lg="row" layout-padding >

      <div layout="column" class="benifit"  layout-align="center center">
        <img src="image/icon_loiich1.png" id="icon_sv1" alt="">
        <h4>Học tập</h4>
        <p style="color:#000000;font-size:15px;">
          Tạo môi trường phát huy việc học tập vừa học vừa chơi qua đó tăng
           thêm kiến thức về mọi mặt.
        </p>
      </div>

      <div layout="column" class="benifit" layout-align="center center">
        <img src="image/icon_loiich2.png" id="iconsv2" alt="">
        <h4>Thi đua</h4>
        <p style="color:#000000;font-size:15px;">
          Phát huy tính độc lập, tự giác, thi đua trong học tập
          và tình đồng đội khi thi đấu đội
        </p>
      </div>

      <div layout="column" class="benifit" layout-align="center center">
          <img src="image/icon_loiich3.png" id="iconsv3" alt="">
          <h4>Tư duy</h4>
          <p style="color:#000000;font-size:15px;">
            Rèn luyện khả năng tư duy, khả năng tập trung, đồng
            thời tính đến sự nhanh nhạy.
          </p>
      </div>

      <div layout="column" class="benifit" layout-align="center center">
          <img src="image/icon_loiich4.png" id="iconsv4" alt="">
          <h4>Thuận tiện</h4>
          <p style="color:#000000;font-size:15px;">
            Thuận lợi về việc thi online, ôn tập ở bất cứ đâu chỉ cần có kết nối
            Internet.
          </p>
      </div>
    </div>
    <!-- <img id ="three_man" src="image/loiichgv_34.png" alt="" /> -->
  </div>
  <!-- benifit of teacher -->
  <div id="benifit_teacher" layout="column" layout-padding layout-align="center center">
    <div layout="column" layout-align="center center">
      <h2>LỢI ÍCH GIÁO VIÊN</h2>
    </div>
    <div layout="row" layout-align="center center" id="beni_time">
      <img src="image/icon_41.png" alt="" />
      <div class="md-secondary">
        <p>
           Soạn bài kiểm tra thêm dễ dãng
        </p>
        <p>
          Tiết kiệm thời gian
        </p>
      </div>
    </div>
    <div layout="row" layout-align="center center">
      <img src="image/icon_44.png" alt="" />
      <div class="md-secondary">
        <p>
           Kiến thức mở rộng hơn
        </p>
        <p>
            Tạo lớp học đơn giản hơn
        </p>
      </div>
    </div>
    <div layout="row" layout-align="center center">
      <img src="image/icon_47.png" alt="" />
      <div class="md-secondary">
        <p>
           Tự động chấm bài nhanh,
        </p>
        <p>
            chính xác
        </p>
      </div>
    </div>
  </div>
  <!-- phan hoi nguoi dung -->
  <div layout="column" class="space" >
    <div layout="row" layout-align-lg="center center" layout-align-md="center center">
      <h1>PHẢN HỒI NGƯỜI DÙNG</h1>
    </div>
    <div  layout="row" layout-align="center center">

      <div ng-repeat="res in home.responsiver track by $index" layout="column" class="respond mySlides w3-animate-fading"  layout-align="center center">
        <md-button layout="row" layout-align="center" class="md-fab userRespond" style="background-image: url('image/user-default.png'); background-size: 200px 200px; width: 200px; height: 200px;">
          <img src="{{res.userProfile.profile.picture + res.userProfile.services.google.picture }}" alt="">
        </md-button>
        <h4 style=" text-align: center;">{{ res.userMail }}</h4>
        <p style="width: 200px; text-align: center;" class="userRespond">{{res.content }}</p>
      </div>

      <script>
        var myIndex = 0;
        carousel();

        function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";
          }
          myIndex++;
          if (myIndex > x.length) {myIndex = 1}
          x[myIndex-1].style.display = "block";
          setTimeout(carousel, 9000);
        }
      </script>

    </div>
  </div>


  <!-- tutorial -->
  <div id="tutorial" layout="column" layout-align="top center">
    <div layout="column" layout-align="center center">
      <h2 style="color:#FFFFFF">
          BẠN CẢM THẤY THÚ VỊ?
      </h2>
      <h2 style="color:#FFFFFF">
          XEM NGAY HƯỚNG DẪN CHƠI
      </h2>
    </div>

    <div layout="row" layout-align="center top">
      <md-button class="md-raised" aria-label="thamgia" href="/tutorial">
        <strong>
          HƯỚNG DẪN
        </strong>
      </md-button>
    </div>

  </div>

  <!-- contact -->
  <div id="contact" layout-xs="column" layout-md="row" layout-lg="row">
    <div id="border_content" layout="column" layout-align="center left">

      <div layout="row" layout-align="left center">
        <img src="image/mail.png" alt="">
        <p style="color:#FFFFFF;font-size:16px;">ntuchallenge@gmail.com</p>
      </div>

      <div layout="row" layout-align="left center">
        <img src="image/phone.png" alt="">
        <p style="color:#FFFFFF;font-size:16px;">0169.3024.336</p>
      </div>

      <div layout="row" layout-align="start center">
        <a href="https://www.facebook.com/NTU-Challenge-147013425712367/?__mref=message_bubble"><img src="image/i_fb.png" id="Image14" alt="" ></a>
        <a href="#"><img src="image/i_gg.png" id="Image15" alt=""></a>
        <a href="#"><img src="image/i_tw.png" id="Image16" alt=""></a>
      </div>
    </div>

    <div layout="column"  layout-align="center center" layout-padding>
      <p style=" color: #FFFFFF">
        Chúng tôi mong muốn mang lại phương pháp dạy hiệu quả và hiện đại đồng thời tạo hứng
         khởi cho sinh viên khi tham gia thi một cách thoải mái, thú vị.
         Rất mong các bạn đóng góp ý kiến hơn nữa cho chúng tôi được hoàn thiện website
         một cách tốt nhất.
      </p>

      <div  layout="row" layout-align="space-around center">
        <md-button href="https://www.facebook.com/huynhngoc.sang.334" target="_blank" class="md-fab " style="background-image: url('image/sang_huynh.jpg'); background-size: 100px 100px; height: 100px; width: 100px">
        </md-button>
        <md-button href="https://www.facebook.com/profile.php?id=100010113151598&fref=ts" target="_blank" class="md-fab " style="background-image: url('image/xuan_vinh.jpg'); background-size: 100px 100px; height: 100px; width: 100px;">
        </md-button>
        <md-button href="https://www.facebook.com/pekrom94?fref=ts" target="_blank" class="md-fab " style="background-image: url('image/bich_thuan.jpg'); background-size: 100px 100px; height: 100px; width: 100px">
        </md-button>
      </div>

    </div>
  </div>
</md-content>
