home{
  #intro{

    background-image: url("image/home-page_01.jpg");
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation-name: slidin;
    animation-duration: 3s;
  }

  @keyframes slidin{
    from {
      margin-top:-100vh;
  }

  to {
      margin-top: 0vh;
    }
  }

  #play{
   animation-name: playgo;
    animation-duration: 3s;
  }

  @keyframes playgo{
    from {
      margin-bottom: -100vh;
  }

  to {
      margin-bottom: 0vh;
    }
  }

.tool{
  min-width: 130px;
}


  .intro{
    margin-bottom: -20px;
    color:#FFFFFF;
    font-size:21px;
    padding-left: 15%;
    padding-right: 15%;
  }

  strong,h4 {
    color: #ff8a00;
    font-weight: bold;
  }
  h2{
    color: #fff;
  }
  .feature{
    height: auto;
  }
  #picture{
    margin-top: 10%;
  }


  .space{
    margin-top: 30px;
  }

  #tutorial{
    background-color: #ff8a00;
    background-image: url("image/huong dan.png");
    min-height: 80vh;
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
  }

  #contact{
    //margin-top: -19px;
    background-image: url("image/img0008.png");
    min-height: 50vh;
    background-repeat: no-repeat;
  }

  #border_content{
    margin-top: 5%;
    border-right: 2px solid gray;
    padding-right: 20%;
    margin-bottom: 5%;
  }
  #benifit_teacher{
    background-image: url("image/home-page_18.jpg");
    min-height: 80vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .md-secondary
  {
    color: #fff;
    margin-left: 10%;
  }
  #beni_time{
    padding-left: 26px;
  }
}
