<br>
<!-- <login-buttons></login-buttons> -->
<!-- chức năng login -->
<!-- <a href="#" onclick="document.getElementById('login').style.visibility = 'visible';">Login</a>
<div id="login" style="visibility: hidden; position: absolute; z-index: 1; background-color: white; border: 1px solid rgb(77, 75, 76); width: 250px; height: 150px;">
  <login></login>
  <br>
  <a href="#" onclick="document.getElementById('login').style.visibility = 'hidden';">Đóng</a>
</div>
<br> -->

<!-- chức năng đăng kí -->
<!-- <a href="/register">Register</a> -->

<!--tạo test -->
<a href="/startQuiz">Tạo kì thi</a>
<a href="/manageQuestion">Quản lý câu hỏi</a>
<a href="/joinExam">Ứng thi</a>
