<!-- <a href="/startQuiz">Tạo kì thi</a>
<a href="/joinExam">Ứng thi</a> -->
<md-content layout="column">
  <div id="intro" layout="column" layout-align="center left">
    <div>
      <p class="intro">
        Bạn là sinh viên ? Bạn cần môi trường năng động, thi đua mà trong đó vừa học vừa chơi rất phù hợp?
      </p>
      <p class="intro">
        Vậy còn chần chừ gì mà không lựa chọn chúng tôi.
      </p>
      <p class="intro">
        Với mục đính nâng cao chất lượng học tập và thi đua như trò chơi đối kháng, chúng tôi hy vọng mang đến cho bạn nhiều kiến thức bổ ích và những giây phút thực sự thú vị
      </p>
    </div>
  </div>

  <!-- chuc nang -->
  <div id="picture" layout-xs="column" layout="row" layout-align="center end" layout-padding="30" >

      <div layout="column" class="feature" layout-align="end">
        <img src="images/home-page_11.png" id="icon1" alt="">
        <!-- <span flex></span> -->
          <!-- <span flex="5"></span> -->
        <md-button class="md-raised" aria-label="thamgia" href="/startQuiz">
          <strong>
            TẠO KÌ THI
          </strong>
        </md-button>
      </div>

      <span flex="15"></span>

      <div layout="column" class="feature" layout-align="end" >
        <img src="images/game-controller.png" id="icon2" alt="">
        <span flex="5"></span>
        <md-button class="md-raised" aria-label="thamgia" href="/joinExam">
          <strong>
            THAM GIA NGAY
          </strong>
        </md-button>
      </div>

  </div>


  <md-divider style="width: 60%; margin-left:20%;"></md-divider>


  <!-- loi ich sinh vien -->
  <div layout="column" class="space">
    <div layout="row" layout-align="center center">
      <h1 >LỢI ÍCH SINH VIÊN</h1>
    </div>
    <div layout="row" layout-padding layout-align="space-around center">

      <div layout="column" class="benifit"  layout-align="center center">
        <img src="images/icon_loiich1.png" id="icon_sv1" alt="">
        <h4>Học tập</h4>
        <p style="color:#000000;font-size:15px;">
          Tạo môi trường phát huy việc học tập vừa học vừa chơi qua đó tăng
           thêm kiến thức về mọi mặt.
        </p>
      </div>

      <div layout="column" class="benifit" layout-align="center center">
        <img src="images/icon_loiich2.png" id="iconsv2" alt="">
        <h4>Học tập</h4>
        <p style="color:#000000;font-size:15px;">
          Tạo môi trường phát huy việc học tập vừa học vừa chơi qua đó tăng
           thêm kiến thức về mọi mặt.
        </p>
      </div>

      <div layout="column" class="benifit" layout-align="center center">
          <img src="images/icon_loiich3.png" id="iconsv3" alt="">
          <h4>Học tập</h4>
          <p style="color:#000000;font-size:15px;">
            Tạo môi trường phát huy việc học tập vừa học vừa chơi qua đó tăng
             thêm kiến thức về mọi mặt.
          </p>
      </div>

      <div layout="column" class="benifit" layout-align="center center">
          <img src="images/icon_loiich4.png" id="iconsv4" alt="">
          <h4>Học tập</h4>
          <p style="color:#000000;font-size:15px;">
            Tạo môi trường phát huy việc học tập vừa học vừa chơi qua đó tăng
             thêm kiến thức về mọi mặt.
          </p>
      </div>
    </div>

    <img id="three_man" src="images/home-page_18.jpg" alt="">

  </div>

  <!-- phan hoi nguoi dung -->
  <div layout="column" class="space" >
    <div layout="row" layout-align="center center">
      <h1>PHẢN HỒI NGƯỜI DÙNG</h1>
    </div>
    <div layout="row" layout-padding layout-align="space-around center">

      <div layout="column" class="respond"  layout-align="center center">
        <img src="images/img0002.png" id="Shape1" alt="">
        <h4>Học tập</h4>
      </div>

      <div layout="column" class="respond"  layout-align="center center">
        <img src="images/img0002.png" id="Shape1" alt="">
        <h4>Học tập</h4>
      </div>

      <div layout="column" class="respond"  layout-align="center center">
        <img src="images/img0002.png" id="Shape1" alt="">
        <h4>Học tập</h4>
      </div>

      <div layout="column" class="respond"  layout-align="center center">
        <img src="images/img0002.png" id="Shape1" alt="">
        <h4>Học tập</h4>
      </div>

      <div layout="column" class="respond"  layout-align="center center">
        <img src="images/img0002.png" id="Shape1" alt="">
        <h4>Học tập</h4>
      </div>
    </div>
  </div>


  <!-- tutorial -->
  <div id="tutorial" layout="column" layout-align="top center">
    <div layout="column" layout-align="center center">
      <h2 style="color:#FFFFFF">
          BẠN CẢM THẤY THÚ VỊ?
      </h2>
      <h2 style="color:#FFFFFF">
          XEM NGAY HƯỚNG DẪN CHƠI
      </h2>
    </div>

    <div layout="row" layout-align="center top">
      <md-button class="md-raised" aria-label="thamgia" href="/joinExam">
        <strong>
          HƯỚNG DẪN
        </strong>
      </md-button>
    </div>

  </div>

  <!-- contact -->
  <div id="contact" layout="row">
    <div id="border_content" layout="column" layout-align="center left">

      <div layout="row" layout-align="left center">
        <img src="images/mail.png" alt="">
        <p style="color:#FFFFFF;font-size:16px;">ntuchallenge@gmail.com</p>
      </div>

      <div layout="row" layout-align="left center">
        <img src="images/phone.png" alt="">
        <p style="color:#FFFFFF;font-size:16px;">0169.3024.336</p>
      </div>

      <div layout="row" layout-align="left center">
        <img src="images/i_fb.png" id="Image14" alt="">
        <img src="images/i_gg.png" id="Image15" alt="">
        <img src="images/i_tw.png" id="Image16" alt="">
      </div>
    </div>

    <div layout="column" layout-align="center center">
      <p style="width: 60%; color: #FFFFFF">
        Chúng tôi mong muốn mang lại phương pháp dạy hiệu quả và hiện đại đồng thời tạo hứng khởi cho sinh viên khi tham gia thi một cách thoải mái, thú vị. Rất mong các bạn đóng góp ý kiến hơn nữa cho chúng tôi được hoàn thiện website một cách tốt nhất
      </p>

      <div style="width: 50%;" layout="row" layout-align="space-around center">
        <img src="images/img0011.png" alt="">
        <img src="images/img0011.png" alt="">
        <img src="images/img0011.png" alt="">
      </div>

    </div>
  </div>
</md-content>
