<md-button class="md-fab" style="box-shadow:none; background-color: transparent" aria-label="sendCodeView" ng-click="menu.showMenu()">
  <md-icon md-svg-icon="action:ic_list_24px"></md-icon>
</md-button>
<md-menu-content id="menuContent" style="position: absolute; left: 5px; z-index: 3; margin-top: 10px; display: none; background-color: #747474;">

            <md-menu-item class = "subMenu">
              <md-button style="background-color: #ff8a00; border: none; cursor:pointer; overflow: hidden; outline:none; margin-left: 5%;" class="md-fab" aria-label="item1">
                <md-icon md-svg-icon="action:ic_home_24px"></md-icon>
              </md-button>
              <a href="/home" style="color: #ffffff; font-size: 18px;">Trang chủ</a>
            </md-menu-item>
            <hr>

            <md-menu-item layout="row">
              <md-button style="background-color: #ff8a00; border: none; cursor:pointer; overflow: hidden; outline:none; margin-left: 5%;" class="md-fab" aria-label="item1">
                <md-icon md-svg-icon="social:ic_person_24px"></md-icon>
              </md-button>
              <a href="/userProfile" style="color: #ffffff; font-size: 18px;">Tài khoản của tôi</a>
            </md-menu-item>
            <!-- <md-menu-divider style="color: #ffffff;"></md-menu-divider> -->
            <hr>

            <md-menu-item>
              <md-button style="background-color: #ff8a00; border: none; cursor:pointer; overflow: hidden; outline:none; margin-left: 5%;" class="md-fab" aria-label="item1">
                <md-icon md-svg-icon="content:ic_create_24px"></md-icon>
              </md-button>
              <a href="/startQuiz" style="color: #ffffff; font-size: 18px;">Tạo kì thi</a>
            </md-menu-item>
            <hr>

            <md-menu-item>
              <md-button style="background-color: #ff8a00; border: none; cursor:pointer; overflow: hidden; outline:none; margin-left: 5%;" class="md-fab" aria-label="item1">
                <md-icon md-svg-icon="content:ic_create_24px"></md-icon>
              </md-button>
              <a href="/joinExam" style="color: #ffffff; font-size: 18px;">Tham gia thi</a>
            </md-menu-item>
            <hr>

            <md-menu-item>
              <md-button style="background-color: #ff8a00; border: none; cursor:pointer; overflow: hidden; outline:none; margin-left: 5%;" class="md-fab" aria-label="item1">
                <md-icon md-svg-icon="action:ic_list_24px"></md-icon>
              </md-button>
              <a href="/profileQuestion" style="color: #ffffff; font-size: 18px;">Danh sách kì thi</a>
            </md-menu-item>
            <hr>


            <!-- <md-menu-item layout="row">
              <send-mail-button title="gửi mail" style="margin-left: -4%" class="subMenu"></send-mail-button>
              <a href="#" style="color: #ffffff; font-size: 18px;">Liên hệ</a>
            </md-menu-item>
            <hr> -->

            <!-- <md-menu-item layout="row">
              <notificate-button title="thông báo" style="margin-left: -4%" class="subMenu"></notificate-button>
              <a href="#" style="color: #ffffff; font-size: 18px;">Thông báo</a>
            </md-menu-item>
            <hr> -->
            <div layout="row" layout-align="center center">
              <md-menu-item class="subMenu">
                <!-- dang nhap dang ky -->
                <auth></auth>
              </md-menu-item>
            </div>

</md-menu-content>
