  <md-content id="detail" layout="column" layout-padding>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Mức độ rất dễ">
          <md-content class="md-padding">
            <div layout="column" layout-align="center center">
              <h3>{{question.question.title}}</h3>
            </div>
            <div ng-repeat="item in detailStatisticsQuestion.info">
              <div ng-show="item.rate >= 0.8" layout="row" layout-padding layout-align="space-between end">
                <p >
                  Câu {{$index+1}}: {{item.question}}
                </p>
                <p>
                  Tỷ lệ: {{item.rate}}
                </p>
              </div>
              <md-divider ng-show="item.rate >= 0.8" ng-if="!$last"></md-divider>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Mức độ dễ">
          <md-content class="md-padding">
            <div layout="column" layout-align="center center">
              <h3>{{question.question.title}}</h3>
            </div>
            <div ng-repeat="item in detailStatisticsQuestion.info">
              <div ng-show="item.rate >= 0.6 && item.rate <0.8" layout="row" layout-padding layout-align="space-between end">
                <p >
                  Câu {{$index+1}}: {{item.question}}
                </p>
                <p>
                  Tỷ lệ: {{item.rate}}
                </p>
              </div>
              <md-divider ng-show="item.rate >= 0.6 && item.rate <0.8" ng-if="!$last"></md-divider>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Mức độ trung bình">
          <md-content class="md-padding">
            <div layout="column" layout-align="center center">
              <h3>{{detailStatisticsQuestion.question.title}}</h3>
            </div>
            <div ng-repeat="item in detailStatisticsQuestion.info">
              <div ng-show="item.rate >= 0.4 && item.rate <0.6" layout="row" layout-padding layout-align="space-between center">
                <p>
                    Câu {{$index+1}}: {{item.question}}
                </p>
                <p>
                    Tỷ lệ: {{item.rate}}
                </p>
              </div>
              <md-divider ng-show="item.rate >= 0.4 && item.rate <0.6" ng-if="!$last"></md-divider>
            </div>
            </md-content>
        </md-tab>
        <md-tab label="Mức độ khó">
          <md-content class="md-padding">
            <div layout="column" layout-align="center center">
              <h3>{{detailStatisticsQuestion.exam.examName}}</h3>
            </div>
            <div ng-repeat="item in detailStatisticsQuestion.info">
              <div ng-show="item.rate >= 0.2 && item.rate <0.4" layout="row" layout-padding layout-align="space-between center">
                <p>
                    Câu {{$index+1}}: {{item.question}}
                </p>
                <p>
                    Tỷ lệ: {{item.rate}}
                </p>
              </div>
              <md-divider ng-show="item.rate >= 0.2 && item.rate <0.4" ng-if="!$last"></md-divider>
          </div>
          </md-content>
        </md-tab>
        <md-tab label="Mức độ rất khó">
          <md-content class="md-padding">
            <div layout="column" layout-align="center center">
              <h3>{{detailStatisticsQuestion.exam.examName}}</h3>
            </div>
            <div ng-repeat="item in detailStatisticsQuestion.info">
              <div ng-show="item.rate < 0.2" layout="row" layout-padding layout-align="space-between center">
                <p>
                    Câu {{$index+1}}: {{item.question}}
                </p>
                <p>
                    Tỷ lệ: {{item.rate}}
                </p>
              </div>
              <md-divider ng-show="item.rate < 0.2" ng-if="!$last"></md-divider>
          </div>
          </md-content>
        </md-tab>
      </md-tabs>
  </md-content>
