<md-card id="userCard" md-theme-watch>
        <md-card-title>
          <md-card-title-text ng-repeat="user in userProfile.users">
            <span class="md-headline">{{ user.profile.name }}</span>
            <!-- <span class="md-subhead">Extra Large</span> -->
          </md-card-title-text>
        </md-card-title>
        <md-card-content ng-repeat="user in userProfile.users" layout="row">
          <div class="md-media-xl card-media">
            <img src="{{ user.profile.picture + user.services.google.picture }}" alt="">
          </div>
          <div layout="column" style="margin">
            <p><strong>Thông tin liên hệ: </strong></p>
            <p class="content" >  {{ "Email: " + user.services.google.email + user.services.facebook.email + user.emails[0].address }}</p>
            <p><strong>Giới tính: </strong></p>
            <p class="content" ng-show="user.services.google.gender + user.services.facebook.gender == 'male'">Nam</p>
            <p class="content" ng-show="user.services.google.gender + user.services.facebook.gender == 'female'">Nữ</p>
            <p><strong>Nghề nghiệp: </strong></p>
            <p class="content" ng-show="user.profile.job == 'student'">Học sinh</p>
            <p class="content" ng-show="user.profile.job == 'teacher'">Giáo viên</p>
          </div>
          <!-- <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="content:ic_mail_24px"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon md-svg-icon="content:ic_mail_24px"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="content:ic_mail_24px"></md-icon>
            </md-button>
          </md-card-actions>-->
        </md-card-content>
      </md-card>
