<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom md-selected="addtest.selectedTab">

      <!-- start -->
      <md-tab label="Bắt đầu" md-on-select="addtest.resetReview()">
        <h1 class="md-display-2">Bắt đầu</h1>
        <form name="addtest.startForm">
          <div layout="row" layout-align="center">

            <!-- Nhập thông tin câu hỏi -->
            <div class="startquiz-tab" layout="column" layout-align="center center">

              <!-- Nhập tiêu đề câu hỏi -->
              <md-input-container class="md-block" flex-gt-sm style="width: 80%;">
                      <label>Nhập tiêu đề câu hỏi</label>
                      <input name="quesTitle" ng-model="addtest.data.title" required>
                      <br>
                      <p class="error" role="alert" ng-show="addtest.startForm.quesTitle.$error.required" style="color: red;">
                         tiêu đề câu hỏi là bắt buộc
                      </p>
              </md-input-container>

              <!-- Nhập số lượng câu hỏi -->
              <md-input-container class="md-block" flex-gt-sm style="width: 80%;">
                      <label>Nhập số lượng câu hỏi</label>
                      <input type="number" step="10" min="10" name="quesNumber" ng-model="addtest.questionCount" required>
                      <br>
                      <p class="error" role="alert" ng-show="addtest.startForm.quesNumber.$error.required" style="color: red;">
                          số lượng câu hỏi là bắt buộc
                      </p>
              </md-input-container>

              <!-- Nhập tổng số điểm -->
              <md-input-container class="md-block" flex-gt-sm style="width: 80%;">
                      <label>Nhập tổng số điểm</label>
                      <input type="number" step="10" min="10" name="quesScore" ng-model="addtest.score" required>
                      <br>
                      <p class="error" role="alert" ng-show="addtest.startForm.quesScore.$error.required" style="color: red;">
                          số lượng câu hỏi là bắt buộc
                      </p>
              </md-input-container>

              <!-- Thêm nội dung -->
              <md-button class="md-raised md-primary" style="width: 80%; background-color: #ff8a00;" ng-click="addtest.setDefaultScore()" aria-label="choseQuestion">Thêm nội dung</md-button>
            </div>
          </div>
        </form>
      </md-tab>

      <!-- Add question tab -->
      <md-tab label="Thêm nội dung" md-on-select="addtest.resetReview()">

        <form name="addtest.myForm">
          <md-content id="questionSet" class="md-padding">
            <h1 class="md-display-2">Thêm câu hỏi</h1>
              <p id="correctError" class="error" role="alert" style="color: red; display: none;">
                  bạn cần chọn câu trả lời đúng cho mỗi câu hỏi
              </p>
              <br>
              <p id="answerError" class="error" role="alert" style="color: red; display: none;">
                  bạn cần thêm ít nhất 2 câu trả lời cho mỗi câu hỏi
              </p>
              <!-- Tiêu đề câu hỏi -->
              <md-input-container class="md-block" flex-gt-sm>
               <label>Tiêu đề câu hỏi</label>
               <input name="questionTitle" ng-model="addtest.data.title" required>
               <br>
               <p class="error" role="alert" ng-show="addtest.myForm.questionTitle.$error.required" style="color: red;">
                   Tiêu đề câu hỏi là bắt buộc
               </p>
              </md-input-container>

              <!-- Nội dung câu hỏi -->
              <md-content id="question0" class="md-padding" style="background-color: rgb(209, 223, 227)">
                <md-input-container id="a" class="md-block" flex-gt-sm>
                  <label>Câu hỏi thứ nhất</label>
                  <textarea ng-model="addtest.data.questionSet[0].question" md-maxlength="500" rows="5" md-select-on-focus></textarea>
                  <br>
                </md-input-container>

                <div layout="column">
                  <img id="photo_0" style="width:80%" class="media" src="">
                  <audio id="audio_0" controls class="media" style="visibility: hidden;" src=""></audio>

                </div>
                <script>
                  // Upload hình ảnh
                  document.getElementById("media_question_0").onchange = function () {
                    var reader = new FileReader();

                      //console.log(this.files[0].type.substring(0, 6))
                    if(this.files[0].type.substring(0, 5) === 'image') {
                      document.getElementById("audio_0").src = '';
                      reader.onload = function (e) {
                        // get loaded data and render thumbnail.
                        document.getElementById("photo_0").src = e.target.result;
                      };


                        // read the image file as a data URL.
                      if(this.files[0])
                        reader.readAsDataURL(this.files[0]);
                      document.getElementById('audio_0').style.visibility = 'hidden';
                    }
                    else {
                      document.getElementById('photo_0').src = '';
                      var sound = document.getElementById('audio_0');
                      reader.onload = (function(audio) {return function(e) {audio.src = e.target.result;};})(sound);

                      // read the audio file as a data URL.
                      if(this.files[0])
                        reader.readAsDataURL(this.files[0]);
                      document.getElementById('audio_0').style.visibility = 'visible';
                    }
                  };
                </script>

                <!-- </md-input-container> -->

                <br>
                <form>
                  <!--nội dung các câu trả lời-->
                  <div id="answer0" layout-gt-sm="column">
                        <div id="answer0_0" layout = "row" layout-align="left center">
                          <md-input-container class="md-block" flex-gt-sm>
                              <label>Câu trả lời 1</label>
                              <textarea ng-model="addtest.data.questionSet[0].answerSet[0]" md-maxlength="500" rows="5" md-select-on-focus></textarea>
                          </md-input-container>

                          <!--Thêm câu trả lời đúng-->
                          <input type="radio" id="radio_0_0" class="css-checkbox" name="gender" ng-click="addtest.insertCorrectAnswer($event)"><label title="Đáp án đúng" class="css-label" for="radio_0_0"></label>

                          <!--Xóa câu hỏi-->
                          <button id="#answer0_0" class="deleteAns" ng-click="addtest.removeAnswer($event)">X</button>
                        </div>
                  </div>
                  
                </form>
                <!--Điểm số của câu hỏi-->
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Điểm số</label>
                  <input ng-model="addtest.data.questionSet[0].score" style="width: 120px;" type="number" step="0.25">
                </md-input-container>

                <div layout="row" layout-align="left center" style="width: 40%;">

                  <!--Thêm câu trả lời-->
                  <button id="#answer0" class="addAnswer" ng-click="addtest.appendAnswer($event)">Thêm câu trả lời</button>
                  <span flex style="min-width: 3px;"></span>

                  <!--Thêm media-->
                  <label class="file">
                    <input id="media_question_0" class="mediaInput" type="file" md-select-on-focus accept="image/*, audio/*">
                    <span>Thêm Media</span>
                  </label>
                  <span flex style="min-width: 3px;"></span>

                  <!--xóa câu hỏi-->
                  <button id="#question0" class="deleteQues" ng-click="addtest.removeQuestion($event)">Xóa câu hỏi</button>
              </div>
              </md-content>
          </md-content>
        </form>

        <div layout="column" layout-align="center center">
          <md-button class="md-raised md-primary" style="background-color: #ff8a00; width: 20%;" ng-click="addtest.appendQuestion()" aria-label="addAnswer">Thêm câu hỏi</md-button>
          <md-button class="md-raised md-primary" style="background-color: #ff8a00; width: 20%;" ng-click="addtest.addTest()" aria-label="finish">Hoàn Thành</md-button>
        </div>
      </md-tab>

      <!--tab xem lại-->
      <md-tab label="Xem lại" ng-disabled="addtest.showReview == 'hidden'" md-on-select="addtest.foreChange()">
        <h1 class="md-display-2">Xem lại</h1>
        <div layout="row" layout-align="center">
          <md-content style="width: 80%;">
            <h2>{{questionbank.value.title}}</h2>
            <div ng-repeat="ques in addtest.data.questionSet track by $index" layout="column" layout-align="center">
              <div ng-if="ques != null">
                <!-- Câu hỏi -->
                <!-- <md-button class="md-raised" style="background-color: rgb(30, 73, 224)"><textarea rows="3" name="Text1" readonly>{{ques.question}}</textarea></md-button> -->
                <div layout="row" layout-align="left left">
                  <!--hiển thi câu hỏi-->
                  <md-button class="md-raised" style="height: 50%; width: 95%;" ng-click="addtest.showhideQuestion(ques.question)" aria-label="showQuestion">{{ques.question}}</md-button>

                </div>

                <!-- Nội dung bộ câu hỏi -->
                <div id="{{ques.question}}" style="display: none; margin-left: 10px;">

                  <!-- Nội dung câu hỏi -->
                  <md-input-container id="a" class="md-block" flex-gt-sm style="width:80%;">
                    <label>Câu hỏi</label>
                    <textarea ng-model="ques.question" md-maxlength="500" rows="5" md-select-on-focus style="background-color: #ff8a00; color: #ffffff" readonly></textarea>
                    <br>
                  </md-input-container>

                  <!-- Hình ảnh -->
                  <p>{{ ques.image }}</p>
                  <img id="{{ 'reviewImage_'+ $index }}" class="imageReview" alt="">
                  <audio id="{{ 'reviewAudio_'+ $index }}" class="audioReview" alt="" controls>
                  </audio>
                  <!-- các lựa chọn -->
                  <div ng-repeat="answer in ques.answerSet track by $index" ng-if="answer != ''" layout="column" layout-align="center">
                      <!-- <md-button class="md-raised"><textarea rows="3" name="Text1" readonly>{{answer}}</textarea></md-button> -->
                      <md-input-container id="a" class="md-block" flex-gt-sm style="width:80%;">
                        <label>Lựa chọn</label>
                        <textarea ng-model="answer" md-maxlength="500" rows="5" md-select-on-focus readonly></textarea>
                        <br>
                      </md-input-container>
                  </div>

                  <!-- đáp án -->
                  <!-- <md-button class="md-raised" style="background-color: rgb(127, 83, 182)" ><textarea rows="3" name="Text1" readonly>{{ques.correctAnswer}}</textarea></md-button> -->
                  <md-input-container id="a" class="md-block" flex-gt-sm style="width:80%;">
                    <label>Đáp án</label>
                    <textarea ng-model="ques.correctAnswer" md-maxlength="500" rows="5" md-select-on-focus style="background-color: rgb(212, 20, 89); color: #ffffff" readonly></textarea>
                    <br>
                  </md-input-container>

                  <!--Điểm số của câu hỏi-->
                  <md-input-container class="md-block" flex-gt-sm>
                      <label>Điểm số</label>
                      <input ng-model="ques.score" style="width: 120px;" type="number" step="0.25" readonly>
                  </md-input-container>
                </div>
              </div>


            </div>
            <div layout="column" layout-align="center center">
              <md-button class="md-raised md-primary" style="background-color: #ff8a00;" ng-click="addtest.buildTest()" aria-label="saveQuestion">Lưu câu hỏi</md-button>
            </div>
          </md-content>
        </div>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
