<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>

      <!-- Add question tab -->
      <md-tab label="one">
        <md-content id="questionSet" class="md-padding">
          <h1 class="md-display-2">Tab One</h1>
            <md-content id="question1" class="md-padding" style="background-color: rgb(209, 223, 227)">
              <md-input-container id="a" class="md-block" flex-gt-sm>
                <label>Câu hỏi thứ nhất</label>
                <input ng-model="addtest.data.questionSet[0].question">
              </md-input-container>
              <br>
              <div id="answer1" layout-gt-sm="column">
                <div id="answer0_1">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Câu trả lời 1</label>
                    <input ng-model="addtest.data.questionSet[0].answerSet.answer[1]">
                    <br>
                    <button id="#answer0_1" ng-click="addtest.removeAnswer($event)">X</button>
                  </md-input-container>
                </div>
              </div>
              <button id="#answer1" class="md-primary md-hue-1" ng-click="addtest.appendAnswer($event)">Thêm câu trả lời</button>
              <button id="#question0" class="md-primary md-hue-1" ng-click="addtest.removeQuestion($event)">Xóa câu hỏi</button>
            </md-content>
        </md-content>
        <md-button class="md-primary md-hue-1" ng-click="addtest.appendQuestion()">Thêm câu hỏi</md-button>
        <md-button class="md-primary md-hue-1" ng-click="addtest.addTest()">Tạo đề</md-button>
      </md-tab>

      <!-- Custom question score tab -->
      <md-tab label="two">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Two</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
          <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>

      <!-- Setting tab -->
      <md-tab label="three">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Three</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
