addtest {
  @media only screen and (max-width: 1000px) {
    label{
      font-size: 32px;
    }
  }

  textarea{
    font-size: 11pt;
    width: 90%;
    background-color: inherit;
    border: none;
    overflow:hidden;
    text-transform: uppercase;
  }
}
