tutorial{
  #bg-1{
    background-color: #E04462;
    background-repeat: no-repeat;
    min-height: 50vh;
    padding-top: 5%;
  }
  #bg-2{
    background-color: #097168;
    background-repeat: no-repeat;
    min-height: 50vh;
    padding-top: 5%;
  }
  #bg-3{
    background-color: #68d7e0;
    background-repeat: no-repeat;
    min-height: 50vh;
    padding-top: 5%;
  }
  #bg-4{
    background-color: #334854;
    background-repeat: no-repeat;
    min-height: 50vh;
    padding-top: 5%;
  }
  .md-raised
  {
    min-width: 130px;
  }
  strong{
      color: #ff8a00;
  }
  h3{
    color: #fff;
  }
}
