<h1 id="code" style ="visibility: hidden;">Code đã được gửi</h1>
<md-content>
    <md-tabs md-dynamic-height md-border-bottom md-selected="startquiz.selectedTab">

      <!-- Tab thứ nhất -->
      <md-tab label="Tạo kì thi">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab One</h1>
          <form name="startquiz.myForm">
            <div layout="row" layout-align="center">

              <!-- Nhập thông tin kì thi -->
              <div class="startquiz-tab" layout="column" layout-align="center center">

                <!-- Nhập mã kì thi -->
                <md-input-container class="md-block" flex-gt-sm style="width: 80%;">
                        <label>Mã kì thi</label>
                        <input ng-model="startquiz.data._id" readonly>
                </md-input-container>

                <!-- Nhập tên kì thi -->
                <md-input-container class="md-block" flex-gt-sm style="width: 80%;">
                        <label>Nhập tên kì thi</label>
                        <input name="examName" ng-model="startquiz.data.examName" required>
                        <br>
                        <p class="error" role="alert" ng-show="startquiz.myForm.examName.$error.required" style="color: red;">
                            tên kì thi là bắt buộc
                        </p>
                </md-input-container>

                <!-- Nhập mô tả -->
                <md-input-container class="md-block" style="width: 80%;">
                  <label>Nhập mô tả</label>
                  <textarea name="examDescrip" ng-model="startquiz.data.examDescrip" md-maxlength="500" rows="5" md-select-on-focus required></textarea>
                  <br>
                  <p class="error" role="alert" ng-show="startquiz.myForm.examDescrip.$error.required" style="color: red;">
                      mô tả là bắt buộc
                  </p>
                </md-input-container>

                <!--Chọn câu hỏi từ-->
                <div layout-gt-md="row" layout-md="column" layout-align="center center" layout-fill style="width: 80%;">
                  <md-button id="bank" class="md-raised md-primary" style="width: 60%;" ng-click="startquiz.changeTabBank()" aria-label="questionBank">Ngân hàng câu hỏi</md-button>
                  <md-button id="create" class="md-raised md-primary" style="width: 60%;" ng-click="startquiz.changeTabCreate()" aria-label="questionCreate">Câu hỏi tự tạo</md-button>
                </div>

              </div>

            </div>
          </form>
        </md-content>
      </md-tab>

      <!-- Tab thứ hai -->
      <md-tab label="Thêm câu hỏi" md-on-select="startquiz.foreChange()">
        <md-content class="md-padding">
          <div>
              <addtest id="addtest"></addtest>
              <questionbank id="questionbank"></questionbank>
          </div>
        </md-content>
      </md-tab>

      <!-- Tab thứ ba -->
      <md-tab label="Hoàn tất" md-on-select="startquiz.foreChange()">
        <h1 class="md-display-2">Cài Đặt</h1>
        <p id="Error" class="error" role="alert" style="color: red; display: none;">
            bạn cần thêm câu hỏi trước khi hòan tất việc tạo đề
        </p>
        <md-content class="md-padding">
          <div layout="row" layout-align="center">
            <div class="startquiz-tab" layout="column" layout-align="center center">

              <!-- Nhập thời gian cho kì thi theo phút-->
              <!-- Chỉnh thời gian -->
              <div layout="row" layout-align="left" style="width: 80%;">
                <label>Tổng thời gian cho kì thi (theo phút)</label>
              </div>
              <div layout-gt-md="row" layout-md="column" style="width: 80%;">
                <md-slider flex min="0" max="180" ng-model="startquiz.data.time" aria-label="red" id="red-slider" class>
                </md-slider>
                <br>
                <div flex="20" style="margin-left: 10px" layout layout-align="center center">
                  <input flex type="number" ng-model="startquiz.data.time" aria-label="red" aria-controls="red-slider">
                </div>
              </div>

              <!-- Số lượng người chơi -->
              <div layout="row" layout-align="left" style="width: 80%;">
                <label>Số lượng người chơi tối đa</label>
              </div>
              <div layout-gt-md="row" layout-md="column" style="width: 80%;">
                <md-slider flex min="0" max="100" ng-model="startquiz.data.userCount" aria-label="red" id="red-slider" class>
                </md-slider>
                <br>
                <div flex="20" style="margin-left: 10px" layout layout-align="center center">
                  <input flex type="number" ng-model="startquiz.data.userCount" aria-label="red" aria-controls="red-slider">
                </div>
              </div>

              <!--Loại đề thi-->
              <div layout="row" layout-align="left" style="width: 80%;">
                <label>Đề thi của bạn được sử dụng để:</label>
              </div>
              <div id="name">
                <md-radio-group ng-model="startquiz.data.isTest" layout="row">
                  <md-radio-button value=false class="md-primary" type="radio"><font size="3.5" color="gray">Ôn tập</font></md-radio-button>
                  <md-radio-button value=true type="radio"><font size="3.5" color="gray">Kiểm tra</font></md-radio-button>
                </md-radio-group>
              </div>

              <!-- Chia sẽ với cộng đồng -->
              <div id="share" layout="column" layout-align="left" style="width: 80%;">
                <md-switch ng-model="startquiz.public" aria-label="Switch 1" ng-change="startquiz.publicQuestion()">
                   chia sẽ với cộng đồng?
                </md-switch>
                <md-input-container id="questionFields" class="md-block" style="display: none;" flex-gt-sm>
                  <label>Nhập tên lĩnh vực</label>
                  <input ng-model="startquiz.fields">
                </md-input-container>
              </div>

              <!-- Lưu kì thi -->
              <md-button class="md-raised md-primary" style="width: 60%;" ui-sref="waitExam({exam_id: startquiz.code})" ng-click="startquiz.insertExam()" aria-label="finish">Hoàn tất</md-button>
            </div>
          </div>
            <send-code-button id="send-code" style="display:"></send-code-button>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
