<div>
  <table>
    <tr>
      <td>
        <label for="">Email</label>
      </td>
      <td>
        <input type="text" name="some_name" value="" ng-model="login.user.mail">
      </td>
    </tr>
    <tr>
      <td>
        <label for="">Mật Khẩu</label>
      </td>
      <td>
        <input type="password" name="some_name" value="" ng-model="login.user.password">
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        <button ng-click="login.login()">Đăng Nhập</button>
      </td>
    </tr>
  </table>
</div>
