<md-content  layout="column" layout-padding layout-margin>
  <div layout="column" layout-align="center center">
    <p>
      <!-- {{scoredExam.examName}} -->
    </p>
    <div layout="row" layout-align="center center" layout-padding>
      <h1>DANH SÁCH NGƯỜI CHƠI VÀ XẾP HẠNG</h1>
    </div>
  </div>
  <div layout="column" layout-padding style="overflow-x:auto;" layout-align="center">
      <table>
        <tr>
          <th>Tên thí sinh</th>
          <th>Địa chỉ Email</th>
          <th>score</th>
          <th>Vị thứ</th>
        </tr>
      <tr ng-repeat="inf in scoredExam.infor | orderBy:'-scored' " >
        <td>{{inf.name}}</td>
        <td>{{inf.email}}</td>
        <td>{{inf.scored}}</td>
        <td>{{$index+1}}</td>
        </tr>
      </table>
  </div>
  <div layout="row" layout-padding layout-align="end" >
     <md-button  class="md-raised md-primary" href="http://www.facebook.com/sharer.php?u=http://quiz.s2corp.vn/scored/{{scoredExam.exam_id}}" target="_blank">Chia sẻ Facebook</md-button>
  </div>
</md-content>
