<md-content id="started-exam" layout="column"  layout-padding ng-show="startedExam.isend">
  <div layout="column" layout-align="center center">
    <h3 style="color:#ff8a00">{{startedExam.showquestion.title}} </h3>
  </div>


  <div layout="row" layout-align="space-around center">
      <div class="lable" layout="column" layout-align="center center">
        <range-exam-button data=startedExam.exam_id></range-exam-button>
      </div>
      <div  class="lable">
        <h3 id="scored">Điểm: 0</h3>
      </div>

      <div class="lable">
        <h3 id ="time">0:0</h3>
      </div>
  </div>

  <div id="question" layout="column" layout-padding>
    <div layout="column" ng-repeat="q in startedExam.showquestion.questionSet " ng-show="$index == startedExam.selectedIndex" ng-init="vitri = $index">
        <div layout="column">
            <h4 style="color:rgb(16, 17, 16)">Câu {{$index +1}}. {{q.question}}</h4>
        </div>
        <md-divider></md-divider>
        <div layout="row" layout-padding layout-align="center center">
          <audio controls autoplay ng-show="q.audio != '' && q.audio">
            <source src={{q.audio}}>
          </audio>
        </div>
        <md-divider ng-show="q.audio != '' && q.audio"></md-divider>
        <div id="quesimage" ng-show="q.image != '' && q.image" layout="column" layout-align="center center" flex="80" layout-margin="10">
          <img  src={{q.image}} />
        </div>
        <md-divider ng-show="q.image != '' && q.image" ></md-divider>
        <div layout="column" layout-padding>
          <md-radio-group ng-model="data.group1" layout="column" ng-init="data.group1 = null" >
            <md-radio-button id="radi" ng-repeat="an in q.answerSet" ng-value="an" ng-class="{selected:$index == startedExam.selectedRow}" ng-click="startedExam.setClickedRow($index)">{{an}}</md-radio-button>
          </md-radio-group>
        </div>
        <md-divider></md-divider>
         <div layout="row" layout-padding layout-align="end" >
          <md-button class="md-raised md-warn" ng-click="startedExam.checkanswer(q.question,data.group1,vitri)" aria-label="next">TIẾP THEO</md-button>
        </div>
    </div>


    <div layout="column">
      <md-slider-container >
        <div  layout="column" layout-align="center center">
          <h5>Mức độ hoàn thành: {{startedExam.total}}/{{startedExam.totalquestion}} </h5>
        </div>
        <div layout="row">
          <md-slider ng-readonly="readonly" ng-disabled="true" class="md-primary"  md-discrete
          flex min="0" max={{startedExam.totalquestion}}
          ng-model="startedExam.total" aria-label="red" id="red-slider">
          </md-slider>
        </div>

       </md-slider-container>
    </div>

  </div>

</md-content>
