started-exam{
  #question{
    border: 1px solid rgba(38, 46, 56, 0.13);
    min-width: 80vh;
  }

  #quesimage{
    margin: 0 10%;
  }

  #radi{
  min-height: 40px;
  border-bottom: 1px solid rgba(38, 46, 56, 0.13);
}

.selected {
  background-color: rgb(24, 203, 64);
}
#lableScored{
  color: rgb(231, 240, 228);
  height: 60px;
  width: 20%;
  text-align: justify;
  background-color: #ff8a00;
  border: none;
  border-radius: 10px;
}
#lableTime{
  color: rgb(231, 240, 228);
  height: 60px;
  width: 20%;
  text-align: justify;;
  background-color: #ff8a00;
  border: none;
  border-radius: 10px;
}
}
