<md-content layout-padding layout-wrap ng-show="startedExam.isend">
  <div layout="row">
    <div flex>
        <h3 id="scored">Số điểm hiện tại: 0</h3>
    </div>
    <div flex>
      <h3 id ="time">Số điểm hiện tại: 0</h3>
    </div>
  </div>
  <div layout="row" layout-align="center center">
    <h3>{{startedExam.showquestion.title}} </h3>
  </div>
  <div layout="column" ng-repeat="q in startedExam.showquestion.questionSet" flex="80" flex-offset="10" ng-init="vitri = $index">
    <div ng-show="$index == startedExam.selectedIndex">
    <md-card>
      <md-card-title>
          <md-card-title-text style="min-height:50px; padding-left:5px;">
            <h4>Câu {{$index +1}}. {{q.question}}</h4>
          </md-card-title-text>
        </md-card-title>
        <md-divider></md-divider>
        <!-- ng-click de chon hien ung cho ngclass -->
      <md-card-content>
        <md-radio-group ng-model="data.group1" layout="column" >
          <md-divider></md-divider>
          <md-radio-button id="radi" ng-repeat="an in q.answerSet" ng-value="an" ng-class="{selected:$index == startedExam.selectedRow}" ng-click="startedExam.setClickedRow($index)">{{an}}</md-radio-button>
          <md-divider></md-divider>
        </md-radio-group>
      </md-card-content>
      <!-- bat su kien next truyen vao vi tri cau hoi, cau hoi va cau tra loi -->
       <div layout="row" layout-padding layout-align="end" >
         <md-button class="md-raised md-warn" ng-click="startedExam.checkanswer(q.question,data.group1,vitri)" aria-label="next">TIẾP THEO</md-button>
       </div>
    </md-card>
  </div>
  </div>
</md-content>
