started-exam{
  #started-exam{
    width: 100%;
  }
  #question{
    border: 1px solid rgba(38, 46, 56, 0.13);
    width: 100%;
  }

  #quesimage{
    margin: 0 10%;
  }

  #radi{
  min-height: 40px;
  border-bottom: 1px solid rgba(38, 46, 56, 0.13);
}

.selected {
  background-color: rgb(24, 203, 64);
  color: rgb(231, 240, 228);
}
.lable{
  color: #ff8a00;
  text-align: center;
}
}
