<!--Gửi mã code -->
<div id="sendCodeTab" style="width: 100%; border: 1px solid rgb(180, 180, 180)">

  <div layout="column" layout-align="top center" style="height: 320px; overflow: scroll; overflow-x: hidden;">
    <table ng-repeat="user in sendCode.usersOnline">
        <tr>
          <td style="width: 30px;">
            <img src="{{user.profile.picture + user.services.google.picture}}" alt="" style="width: 30px; height: 30px;">
          </td>
          <td style="width: 150px;">
            <div style="margin-left: 10px;">{{user.profile.name}}</div>
          </td>
          <td>
            <img src="image/green-glossy-icon-md.png" alt="" style="width: 13px; height: 13px;">
          </td>
          <td>
            <md-button id="sendCode" class="md-raised md-primary" style="width: 50px;" ng-click="sendCode.sendCode(user._id, $event)">Mời</md-button>
          </td>
        </tr>
    </table>
  </div>

  <div layout="row" layout-align="center">
    <md-button id="sendCodeAll" class="md-raised md-primary" style="width: 80%; margin-left: 10%;" ng-click="sendCode.inviteAll()">Mời tất cả mọi người</md-button>
  </div>
</div>
