<div layout="row">
  <md-button class="md-raised" ui-sref="login" ng-hide="auth.isLoggedIn" aria-label="login">
    <strong style="color: #ff8a00; font-weight: bold">
      Đăng nhập
    </strong>
  </md-button>

  <md-button class="md-raised auth" ui-sref="register" ng-hide="auth.isLoggedIn" aria-label="register">
    <strong>
      Đăng ký
    </strong>
  </md-button>
  <div layout="row" layout-align="center center">
    <md-button ng-show="auth.isLoggedIn" class="md-fab" aria-label="userImage">
      <img src="{{ auth.userImage }}" alt="">
    </md-button>
    <p>{{ auth.image }}</p>
    <div ng-show="auth.isLoggedIn">{{ auth.currentUser | displayNameFilter }}</div>
    <md-button title="đăng xuất" class="md-fab" style="box-shadow:none; background-color: transparent" flex ng-click="auth.logout()" ng-show="auth.isLoggedIn" aria-label="logout">
      <md-icon md-svg-icon="action:ic_power_settings_new_24px"></md-icon>
    </md-button>
  </div>

</div>
