<md-content layout-padding layout-wrap>
    <div layout="row">
      <div flex layout="column" layout-align="start">
        <md-button ng-show="waitExam.own"  style="background-color:#ff8a00" layout-align="center center" href="/scored/{{waitExam.idExam}}" >Xem  Điểm</md-button>
      </div>
      <div flex layout="column" layout-align="start">
          <md-button ng-show="waitExam.own"  layout-align="end" style="background-color:#ff8a00" ng-disabled="!waitExam.start" ng-click="waitExam.runTime()" >Bắt Đầu</md-button>
      </div>
    </div>
    <div layout="row" layout-align="center center">
        <h2 class="md-raised md-primary"  ng-show="!waitExam.start" id="wait">Vui lòng chờ tới khi bắt đầu!</h2>
    </div>
    <div layout="column" class="md-whiteframe-z1" layout-margin layout-padding style="overflow-x:auto;">
        <table>
          <tr>
            <th >Số thứ tự</th>
            <th >Tên thí sinh</th>
            <th >Địa chỉ Email</th>
            <th >Trạng thái</th>
          </tr>
          <tr ng-repeat="u in waitExam.userinfor"  >
            <td >{{$index+1}}</td>
            <td >{{u.profile.name}}</td>
            <td >{{u.services.facebook.email}}</td>
            <td >{{u.status.online}}</td>
          </tr>
        </table>
    </div>
</md-content>
