
<md-toolbar>
  <div class="md-toolbar-tools" layout="row" layout-align="center center">
    <img src="images/logo.png" alt="">
    <span flex></span>

    <!-- trang chu -->
    <md-button ui-sref="home" style="background-color: Transparent; border: none; cursor:pointer; overflow: hidden; outline:none;" class="md-fab" aria-label="home">
      <md-icon style="color: #ff8a00;" md-svg-icon="action:ic_home_24px"></md-icon>
    </md-button>

    <!-- gui mail -->
    <send-mail-button></send-mail-button>

    <!-- thong bao -->
    <notificate-button></notificate-button>

    <span flex></span>

    <!-- dang nhap dang ky -->
    <auth></auth>

    <!-- <md-button class="md-raised md-primary" ui-sref="login">Đăng nhập</md-button> -->
  </div>
</md-toolbar>
