
<md-toolbar>
  <div class="md-toolbar-tools" layout="row" layout-align="center center">
    <a href="/home" title="NTU Challenge"><img src="images/logo.png" alt="Trang chủ" ></a>


    <span flex></span>

    <!-- trang chu -->
    <md-button ui-sref="home" style="background-color: Transparent; border: none; cursor:pointer; overflow: hidden; outline:none;" id="noteButton" class="md-fab" aria-label="notification" ng-click="notificateButton.open($event)">
      <md-icon md-svg-icon="social:ic_notifications_24px"></md-icon>
    </md-button>

    <!-- gui mail -->
    <send-mail-button></send-mail-button>

    <!-- thong bao -->
    <notificate-button></notificate-button>

    <span flex></span>

    <!-- dang nhap dang ky -->
    <auth></auth>

    <!-- <md-button class="md-raised md-primary" ui-sref="login">Đăng nhập</md-button> -->
  </div>
</md-toolbar>
